services:
  backend:
    build: ./backend
    user: "${UID}:${GID}"
    volumes:
      - ./backend:/app:cached
      - uv_cache:/home/uv_cache
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore: [ ".venv/", "__pycache__/", "migrations/" ]
        - action: rebuild
          path: ./backend/pyproject.toml

  frontend:
    build: ./frontend
    user: "${UID}:${GID}"
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules # Prevents host node_modules from wiping container ones
    ports:
      - "3000:3000"
    depends_on:
      - backend
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore: [ "node_modules/", ".next/" ]

  db:
    image: postgres:16-alpine
    ports:
    - "5432:5432"
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  uv_cache: