@import "tailwindcss";

@layer components {
  .nav-btn-primary {
    background-color: #2e4568;
    @apply px-6 py-3 rounded-lg text-white font-semibold text-base shadow-md transition-all duration-200 hover:bg-[#155a9a] hover:shadow-lg active:scale-115;
  }

  .nav-btn-secondary {
    @apply px-6 py-3 rounded-lg text-base transition-all duration-200 hover:bg-gray-700 hover:text-white border border-transparent hover:border-gray-600;
  }

  .nav-active {
    @apply apply border-b-2 border-white rounded-b-none;
  }
}